
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->

<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Error{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- GLOBAL STYLES -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
    <!--END GLOBAL STYLES -->

    <!-- PAGE LEVEL STYLES -->
    <link href="css/style.css" rel="stylesheet" />
    <!--END PAGE LEVEL STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body  >
<!-- PAGE CONTENT -->
<div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <div class="logo">
            <h1>{% block headtitle %}OPPS, Error !{% endblock headtitle %}</h1>
        </div>
        <div class="clearfix"></div>
        <br /><br />
        <p class="text-muted">{% block message %}Theere is some error here, Please try later. {% endblock message %}</p>
        <div class="clearfix"></div>
        <br />
        <div class="col-lg-6  col-lg-offset-3">
            <div class="btn-group btn-group-justified">
                {% block buttons %}
                <a href="#" class="btn btn-primary">Return 1</a>
                <a href="#" class="btn btn-success">Return 2</a>
                {% endblock buttons %}
            </div>

        </div>

    </div>


</div>
<!-- END PAGE CONTENT -->


</body>
<!-- END BODY -->
</html>
