{% extends "ChateaClientBundle::mainLayout.html.twig" %}

{% block chatea_title %}Términos y condiciones{% endblock %}
{% block chatea_meta_description %}{% endblock %}
{% block chatea_meta_keywords %}{% endblock %}

{% block chatea_body %}
    <div class="container">
        <div class="row">
            <p>Vd. consiente expresamente que sus datos de carácter personal aportados a través de este registro puedan ser utilizados por la Fundación Paideia y almacenados en un fichero informatizado, confidencial y protegido conforme a la Ley Orgánica 15/1999, de 13 de diciembre, de Protección de Datos de Carácter Personal.</p>
            <p>En concreto, sus datos de carácter personal serán incorporados al fichero denominado Mans Gestión de Espacios, titularidad de la Fundación Paideia Galiza.</p>
            <p>Sus datos serán utilizados para la gestión de la intranet a la que accede en este momento como usuario.</p>
            <p>Vd. podrá ejercitar los derechos de acceso, rectificación, cancelación y oposición, indicándolo a la Fundación Paideia Galiza, que es a estos efectos el Responsable del Tratamiento de Datos (CIF G-15798655, con domicilio en Plaza de María Pita, 17, 15001 A Coruña, teléfono 981 22 39 27, número de fax 981 22 46 59 y correo electrónico lopd@mans-paideia.com).</p>
            <p>A estos efectos, deberá identificarse mediante la aportación de fotocopia de su D.N.I.</p>
        </div>
    </div>
{% endblock %}