{% extends 'PrettyBundle:layout:layout.html.twig' %}

{% block title %}{% endblock title %}

{% block body_container %}
    <div id="main">
        <section class="container-wrap main-color">
            <div id="main-container" class="container-full">
                <!-- MAIN SECTION -->
                <div class="container">
                    <div class="row row-centered">
                    {% block main_section %}{% endblock %}
                    </div>
                </div>
                <!-- END MAIN SECTION -->
            </div>
        </section>
    </div>
{% endblock %}