{% extends 'ParkingBundle::layout.html.twig' %}

{% block body_container_center %}
    <h1 class="text-center">{% block title_show_entity %}Plaza de aparcamiento liberada{% endblock %}</h1>

    {% block content_show_entity %}{% endblock %}
    
{% endblock body_container_center %}
