{% extends 'OfferBundle::layout.html.twig' %}

{% block main_section %}
    <h1>Offer edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('offer_my') }}">
            Volver a mi lista
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock main_section %}
