{% extends 'PrettyBundle:Default:layout_full.html.twig' %}

{% block head_css %}
    {{ parent() }}
    <style>
        .panel-default h4{
            font-weight: unset !important;
        }
    </style>
{% endblock %}

{% block body_container_content_full %}
    <div class="container" style="margin-bottom:5%">
        {% block body_container_center %}
            <div class="container">
                <br/>
                <br/>
                <br/>
                {% for entity in entities %}
                    {# Hacemos estos chequeos para poner listas de 4 elementos #}
                    {% if loop.index % 5 == 0 %}
                        <div class="row">
                    {% endif %}
                    {% if loop.first %}
                        <div class="row">
                    {% endif %}
                        <div class="col-lg-3 col-md-6 text-center">
                            <div class="service-box">
                                <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
                                <a href="{{ path('offer_show', {id: entity.id}) }}"><h3>{{ entity.name }}</h3></a>
                                <p class="text-muted">{{ entity.description }}</p>
                            </div>
                        </div>
                    {% if not loop.first and loop.index % 4 == 0 %}
                        </div>
                        <br/>
                        <br/>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock body_container_center %}
    </div>
{% endblock body_container_content_full %}
