{% extends 'OfferBundle::layout.html.twig' %}

{% block main_section %}
    <h1>Offer creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('offer_my') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
