{#{% set fixnav = true %}#}

{% extends 'PrettyBundle:layout:layout.html.twig' %}

{% block title %}{% endblock title %}

{% block body_container %}
    <div id="main">
        <section class="container-wrap main-color">
            <div id="main-container" class="container-full">
                <!-- MAIN SECTION -->
                SECTION MAIN
                <!-- END MAIN SECTION -->
            </div>
        </section>
    </div>
{% endblock %}