{% trans_default_domain 'UserRegistration' %}

<h1 style="margin-left:1em">
{{ 'user.register' | trans }}
<small>
	{% if client is defined and client == 34 %}
		{{ "register.explication_credentials_chateagratis" | trans() }}
	{% else %}
		{{ "register.explication_credentials_chatzona" | trans }}
	{% endif %}
</small>
</h1>