{% extends "AppBundle:layout:layout.html.twig" %}

{% block body_pre_container %}

	{% if index_chat is defined and index_chat is not null and index_chat %}
		{# include js in block body_js_end #}
		<div id="cgs-webchat" style="margin-top: -20px;" ></div>
	{% else %}
		{{ parent() }}
	{% endif %}
	{% if index_chat %}
				{% if extra_html is defined %}
					{{ extra_html | raw}}
				{% endif %}
	{% endif %}
{% endblock body_pre_container %}



{% block body_js_end %}
	{{ parent() }}
	{% if index_chat is defined%}
          {% include "ApiSocialBundle:Chat:script.html.twig" with {enter_channel: channel_affiliate, chat_nick: nick_affiliate ~ '????'} %}
	{% endif %}
{% endblock %}