{% extends "AppBundle:layout:layout.html.twig" %}

{% block body_pre_container %}

	{% if web_param.index_chat is defined and web_param.index_chat is not null and web_param.index_chat %}
		{# include js in block body_js_end #}
		<div id="cgs-webchat" style="margin-top: -20px;" ></div>
	{% else %}
		{{ parent() }}
	{% endif %}
	{% if web_param.index_chat %}
				{% if web_param.extra_html is defined %}
					{{ web_param.extra_html | raw}}
				{% endif %}
	{% endif %}
{% endblock body_pre_container %}



{% block body_js_end %}
	{{ parent() }}
	{% if web_param.index_chat is defined%}
          {% include "ApiSocialBundle:Chat:script.html.twig" with {enter_channel: web_param.channel_affiliate, chat_nick: web_param.nick_affiliate ~ '????'} %}
	{% endif %}
{% endblock %}